<h3>Bem-Vindo</h3>
<p>Seja bem-vindo à interface Web do sistema Gym Tracker. Nela você poderá executar todas as funções
    encontradas no aplicativo Android. O sistema foi criado como método de avaliação da disciplina
    Programação Orientada à Objetos Aplicada do 5º período do curso de Bacharelado de Sistemas de Informação
    ministrada pelo professor Luiz Gustavo.</p>
